body {
  background: linear-gradient(210deg, #171853, #000000);
  background-size: 200% 200%;
  line-height: 2;
  font-size: 115%;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  letter-spacing: 125%;
  color: white;
}

section h4, h5 {
  text-align: left;
  margin-top: 2em;
}

hr {
  background-color: white;
  height: 1px;
  border: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.full-title {
  font-size: 600%;
}

.full-subtext {
  font-size: 140%;
  line-height: 1.5em;
  font-color: #222;
}

.justify {
  text-align: justify;
}

.btn-title {
  font-size: 250%;
}

.fa {
  padding-right: 1em;
}

.small {
  font-size: 50%;
  color: gray;
}

.divider {
  margin-top: 1em;
  margin-bottom: 2.5em;
}

